body {
	margin: 0;
}

#top {
	width: 100%;
	background-color: #1f9eff;
	height: 100px;
	margin-bottom: 20px;
}

#top > h1 {
	color: white;
	font-family: calibri;
	text-align: center;
	padding-top: 20px;
}

form {
	width:450px;
	height:200px;
	background:#e6e6e6;
	border-radius:9px;
	box-shadow:0 0 40px -10px #000;
	margin:calc(50vh - 220px) auto;
	padding:20px 30px;
	max-width:calc(100vw - 40px);
	box-sizing:border-box;
	font-family:'Montserrat',sans-serif;
	position:relative;		
}

form > h2 {
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
	padding-bottom:15px;
	width:100px;
	color: white;
	font-family: calibri;
	border-bottom:1px solid white;
}

form > input {
	width:100%;
	padding:10px;
	box-sizing:border-box;
	background:none;outline:none;
	resize:none;border:0;
	font-family:'Montserrat',sans-serif;
	transition:all .3s;
	border-bottom:2px solid #bebed2;
}

form > input:focus{
	border-bottom:2px solid #78788c;
}

form > .button{
	float: left;
	padding:8px 12px;
	margin:2px 0 0;
	font-family:'Montserrat',sans-serif;
	border:2px solid #78788c;
	background:0;color:#5a5a6e;
	cursor:pointer;
	transition:all .3s;
}

form > .button:hover{
	background:#1f9eff;
	color:#fff;
}